.places {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-flow: row wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    padding: 15px;
    flex-basis: 90%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    grid-row-start: 2;
    display: flex;
    order: 2;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F solid 4px;
    border-radius: 50%;
    text-align: center;
    min-width: 60px;
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 70px;
    margin-bottom: 10px;

}

.information {
    height: 80px;
    border-bottom: #DDDDDD solid 1px;
    border-top: #DDDDDD solid 1px;
    display: flex;
    font-size: 16px;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
}

.max_guest {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number_rooms {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number_bathrooms {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
